#messsages {
    display: flex;
    gap: 2px;
}

#messages p {
    display: inline-block;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    margin-right: 1rem;
}

#messages .warn {
    color: white;
    background-color: orange;
}

#messages .good {
    color: white;
    background-color: green;
}

.alternate-rows tbody tr:nth-child(even) td {
    background-color: #fafafa;
}