.journalentry {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.journalentry th {
    padding: 0.5rem;
    text-align: left;
}

.journalentry tr td:first-of-type {
    border-left: 1px solid #ccc;
}

.journalentry tr:first-of-type td {
    border-top: 1px solid #ccc;
}

.journalentry td {
    padding: 0.5rem;
    background-color: #fff;
    height: 2rem;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.journalentry .date {
    width: 10em;
}

.journalentry .account {
    width: 10em;
}

.journalentry .money {
    width: 8em;
    text-align: right;
}

.journalentry td:focus {
    background-color: #cef;
}