.spinner {
    margin: 0.5rem;
    display: inline-block;
    border: 5px solid rgba(192,192,225,.3);
    border-radius: 50%;
    border-top-color: #ccc;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

  #chat-form-container {
    position: absolute;
    width: calc(100% - 3rem);
    bottom: 2rem;
    background: var(--body-background);
  }

  #chat-form {
    display: flex;
    gap: 1rem;
  }

  #chat-input {
    flex: 1;
  }

  #chat-outlet {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 15rem);
    overflow-y: auto;
    padding-right: 1.5rem;
    gap: 1px;
  }

  .chat-row {
    padding: 0;
    margin-top: 0;
  }

  .chat-message {
    margin: 0;
    border-radius: 2rem;
    padding: 0.6rem 2rem;
    color: white;
    display: inline;
    max-width: 30rem;
  }

  .msg-left {
    border: 1px solid var(--color-c2a);
    background-color: white;
    color: var(--color-c2a);
    float: left;
  }

  .msg-right {
    background-color: var(--color-c2a);
    float: right;
    margin-right: 2rem;
  }

  .msg-err {
    background-color: var(--alert-warn);
    color: var(--text-color);
  }